<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="./img/weather.png"></link>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src ="img/myImage.png">
        </div>

        {{>footer}}
    </body>
</html>