<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="./img/weather.png"></link>
        <title>Home</title>
        <link rel="stylesheet" href="./css/style.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>App weather for the forecast</p>

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>